body {
  background-color: #fafafa;
  font-size: 14px;
  font-family: Myriad Pro,PingFang SC,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* 动画 */
.menu-enter-active,
.menu-leave-active {
  transition: all 500ms ease;
}

.menu-enter-from,
.menu-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}

/* 自定义滚动条 */
/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #cacbd4;
}
/* 页面失去焦点时滑块颜色 */
::-webkit-scrollbar-thumb:window-inactive {
  background: #e5e7eb;
}

code[class*=language-],
pre[class*=language-] {
  color: #000;
  background: 0 0;
  text-shadow: 0 1px #fff;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none
}

code[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection,
pre[class*=language-] ::-moz-selection,
pre[class*=language-]::-moz-selection {
  text-shadow: none;
  background: #b3d4fc
}

code[class*=language-] ::selection,
code[class*=language-]::selection,
pre[class*=language-] ::selection,
pre[class*=language-]::selection {
  text-shadow: none;
  background: #b3d4fc
}

@media print {

  code[class*=language-],
  pre[class*=language-] {
    text-shadow: none
  }
}

pre[class*=language-] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto
}

:not(pre)>code[class*=language-],
pre[class*=language-] {
  background: #f5f2f0
}

:not(pre)>code[class*=language-] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #708090
}

.token.punctuation {
  color: #999
}

.token.namespace {
  opacity: .7
}

.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
  color: #905
}

.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
  color: #690
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
  color: #9a6e3a;
  /* background: hsla(0, 0%, 100%, .5) */
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a
}

.token.class-name,
.token.function {
  color: #dd4a68
}

.token.important,
.token.regex,
.token.variable {
  color: #e90
}

.token.bold,
.token.important {
  font-weight: 700
}

.token.italic {
  font-style: italic
}

.token.entity {
  cursor: help
}


.prose {
  color: #6b7280;
  max-width: none
}

.prose [class~=lead] {
  color: #4b5563;
  font-size: 1.25em;
  line-height: 1.6;
  margin-top: 1.2em;
  margin-bottom: 1.2em
}

.prose a {
  color: #0e7490;
  text-decoration: none;
  font-weight: 500;
  box-shadow: inset 0 -.125em 0 0 #fff, inset 0 -.375em 0 0 rgba(165, 243, 252, .4)
}

.prose strong {
  color: #111827;
  font-weight: 500
}

.prose ol {
  counter-reset: list-counter;
  margin-top: 1.25em;
  margin-bottom: 1.25em
}

.prose ol>li {
  position: relative;
  counter-increment: list-counter;
  padding-left: 1.75em
}

.prose ol>li:before {
  content: counter(list-counter) ".";
  position: absolute;
  font-weight: 400;
  color: #6b7280;
  left: 0
}

.prose ul>li {
  position: relative;
  padding-left: 1.5em
}

.prose ul>li:before {
  content: "";
  position: absolute;
  background-color: #d1d5db;
  border-radius: 0;
  width: .75em;
  height: .125em;
  top: calc(.875em - .0625em);
  left: 0
}

.prose hr {
  border-color: #e5e7eb;
  border-top-width: 1px;
  margin-top: 3em;
  margin-bottom: 3em
}

.prose blockquote {
  font-weight: 500;
  font-style: italic;
  color: #111827;
  border-left-width: .25rem;
  border-left-color: #e5e7eb;
  quotes: "\201C""\201D""\2018""\2019";
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em
}

.prose blockquote p:first-of-type:before {
  content: open-quote
}

.prose blockquote p:last-of-type:after {
  content: close-quote
}

.prose h1 {
  color: #111827;
  font-weight: 800;
  font-size: 1.8em;
  margin-top: 0;
  margin-bottom: .8888889em;
  line-height: 1.1111111
}

.prose h2 {
  color: #111827;
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333
}

.prose h3 {
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: .6em;
  line-height: 1.6
}

.prose h3,
.prose h4 {
  color: #111827;
  font-weight: 600
}

.prose h4 {
  margin-top: 1.5em;
  margin-bottom: .5em;
  line-height: 1.5;
  font-size: 1.125em
}

.prose figure figcaption {
  color: #6b7280;
  font-size: .875em;
  line-height: 1.4285714;
  margin-top: .8571429em
}

.prose code {
  color: #7c3aed;
  font-weight: 400;
  font-size: .875em
}

.prose code:after,
.prose code:before {
  content: ""
}

.prose pre {
  color: #fff;
  overflow-x: auto;
  font-size: .875em;
  line-height: 1.7142857;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
  padding: .8571429em 1.1428571em
}

.prose pre code {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: 400;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit
}

.prose pre code:after,
.prose pre code:before {
  content: ""
}

.prose table {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: .875rem;
  line-height: 1.25rem
}

.prose thead {
  color: #4b5563;
  font-weight: 600;
  border-bottom-width: 1px;
  border-bottom-color: #e5e7eb
}

.prose thead th {
  vertical-align: bottom;
  padding: 0 .5714286em .5714286em;
  font-weight: 600
}

.prose tbody tr {
  border-bottom-color: #e5e7eb
}

.prose tbody tr,
.prose tbody tr:last-child {
  border-bottom-width: 1px
}

.prose tbody td {
  vertical-align: top;
  padding: .5714286em
}

.prose {
  font-size: 1rem;
  line-height: 1.75
}

.prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em
}

.prose figure,
.prose img,
.prose video {
  margin-top: 2em;
  margin-bottom: 2em
}

.prose figure>* {
  margin-top: 0;
  margin-bottom: 0
}

.prose h2 code {
  font-size: .875em
}

.prose h3 code {
  font-size: .9em
}

.prose ul {
  margin-top: 1.25em;
  margin-bottom: 1.25em
}

.prose li {
  margin-top: .5em;
  margin-bottom: .5em
}

.prose>ul>li p {
  margin-top: .75em;
  margin-bottom: .75em
}

.prose>ul>li>:first-child {
  margin-top: 1.25em
}

.prose>ul>li>:last-child {
  margin-bottom: 1.25em
}

.prose>ol>li>:first-child {
  margin-top: 1.25em
}

.prose>ol>li>:last-child {
  margin-bottom: 1.25em
}

.prose ol ol,
.prose ol ul,
.prose ul ol,
.prose ul ul {
  margin-top: .75em;
  margin-bottom: .75em
}

.prose h2+*,
.prose h3+*,
.prose h4+*,
.prose hr+* {
  margin-top: 0
}

.prose thead th:first-child {
  padding-left: 0
}

.prose thead th:last-child {
  padding-right: 0
}

.prose tbody td:first-child {
  padding-left: 0
}

.prose tbody td:last-child {
  padding-right: 0
}

.prose:first-child>:first-child {
  margin-top: 0
}

.prose:last-child>:last-child {
  margin-bottom: 0
}

.prose h1,
.prose h2 {
  letter-spacing: -.025em
}

.prose h2,
.prose h3 {
  scroll-margin-top: 6.875rem
}

.prose a code,
.prose a strong {
  color: inherit;
  font-weight: inherit
}

.prose tbody code {
  font-size: .75rem
}
